* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    background-image: url(assets/background\ \(1\).png);
    background-repeat: none;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem 2rem 6rem;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;


}

a:hover {
    color: red;
}

.hero {
    width: 60%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 4rem;
    row-gap: 1.5rem;

}

.hero-text {
    width: 80%;
text-align: center;
}

button {
  background-color: #FF6565;
  padding: 8px 10px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
    background-color: #FF4D4D;
}

.hero-p {
    width: 80%;
    text-align: center;
}
