* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins" sans-serif;
}

footer {
    width: 100%;
    height: auto;
    background-color: #071629;
    color: white;
}

.footer-connect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 6rem;
}

footer p {
    text-align: center;
    padding-bottom: 2rem;
}

#footer-img {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}